extends base.pug

block content
    a(href=`${movie_id}/edit`) Edit! 
    <br />
    a(href=`${movie_id}/delete`) Delete!

    h1 Title: #{movie.title} <br />
    span Summary: #{movie.summary} <br />
    span Year: #{movie.year} <br />
    span Rating: #{movie.rating} <br />
    span Genres: #{movie.genres} <br />